<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/site/logo.png">
            <span class="logoText">{{ site.title }}</span>
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" href="/wiki">
                    <span>Wiki</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" class="dropdownIcon"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/wiki/consoles">
                        Consoles
                    </a>
                    <a class="navbar-item" href="/wiki/accessories">
                        Accesories
                    </a>
                    <a class="navbar-item" href="/wiki/games">
                        Games
                    </a>
                    <a class="navbar-item" href="/wiki/mods">
                        Modifications
                    </a>
                    <a class="navbar-item" href="/wiki/cartreaders">
                        Cartridge Readers
                    </a>
                    <a class="navbar-item" href="/wiki/flashcarts">
                        Flash Cartridges
                    </a>
                    <a class="navbar-item" href="/wiki/repairs">
                        Repairs
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    <span>Tools</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" class="dropdownIcon"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/gamechecker">
                        Cartridge Checker
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="https://discord.gg/gameboy">
                Discord
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/gameboy/gameboy.github.io">
                Edit on GitHub
            </a>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
if ($navbarBurgers.length > 0) {
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {
      const target = el.dataset.target;
      const $target = document.getElementById(target);
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');
    });
  });
}
});
</script>
