---
layout: default
---
<div class="main">
    <h1 class="title">
        {{ page.title }}
    </h1>
    <div class="content">
        {{ content }}
    </div>
    <ul>
        {% for wikiPage in site.pages %}
            {% if wikiPage.category == page.title %}
                <li>
                    <a href="{{ site.url }}{{ wikiPage.url }}">
                        {{ wikiPage.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>